<div id="subscription">
  <h1>Your Subscription Details</h1>
  <p>Congratulations! You have signed up for the <strong><%= @subscription.plan.name %></strong> plan which includes <strong><%= @subscription.plan.length %>  days</strong> for just <strong><%= number_to_currency @subscription.plan.price %></strong> per month!<p>
  	
You're now one step closer to getting offline and finding your match. You should begin by creating a Date and then take a stroll over to the "Find Dates" section. From there you can find dates that interest you.<P>
	
If you need any assistance with our service, from technical issues to advice, you can contact us.<P>
	
Thank you for joining AreYouTaken!
  </p>
</div>

<p>
	
